
<div class="container">
    <h2>Add new game</h2>
    <hr>

    <form>
        <div class="form-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Completed? </mat-label>
                <mat-select required>
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hours</mat-label>
                <input matInput type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>dd/MM/yyyy</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            <mat-form-field>
                <mat-label>Personal Score</mat-label>
                <input matInput type="number">
                <mat-hint>From 0 to 100</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Custom Image</mat-label>
                <input matInput>
                <mat-hint>Place URL</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary">Add Game</button>
        </div>
    </form>
</div>


