<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Game Tracking</span>
  <span class="example-spacer"></span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of menuItems" 
      [routerLink]="[item.route]">
      {{item.name}}
    </button>
  </mat-menu>

  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>person</mat-icon>
  </button>
  
</mat-toolbar>